@model Zad.Models.Dane
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{



}

<h1>Wynik</h1>

   Potwierdzam Twoje dane
       Imie: @Model.Imie
<br />
   Email: @Model.Email
<br />
@* Temat: @Model.Temat
<br />
Tresc: @Model.Tresc
<br /> *@
<h1>Rejestracja zakończona pomyślnie</h1>